.vscode/**
.vscode-test/**
out/**
node_modules/**
.pnpm-store/**
pnpm-lock.yaml
pnpm-workspace.yaml
Implementation-plan.md
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
